@model Bill
@{
	Layout = "~/Views/Shared/_DashLayout.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.OutOfStockMessage))
{
    <div class="alert alert-warning">
        @ViewBag.OutOfStockMessage
    </div>
}


<h1>this is the bill id detail</h1>
<h1>bill id: @Model.BillId</h1>
<h1>Name customer: @Model.Email</h1

<h1><a href="/Seller/Delete?billId=@Model.BillId">Hoàn đơn</a></h1>