@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" >Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login">Login</a>
    </li>
}
</ul>


<section class="h-100 gradient-form" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <h1 class="mt-1 mb-5 pb-1">Login</h1>
                                    <h4 class="mt-1 mb-5 pb-1">Login by your email address and password</h4>
                                </div>

                                <form>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Username</label>
                                        <input type="email" id="form2Example11" class="form-control"
                                               placeholder="Phone number or email address" />

                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Password</label>
                                        <input type="password" id="form2Example22" class="form-control" />

                                        <span>mật khẩu phải có ít nhất 8 ký tự</span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="checkbox">
                                        <span> Remember me</span>
                                        <br>
                                        <a class="text-center" href="#">chính sách bảo mật</a>
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-dark" type="button">Log in</button>
                                        <a class="text-center" href="#">Forgot password?</a>
                                    </div>



                                </form>

                            </div>
                        </div>

                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h1 class="mb-4">Register</h1>
                                <p class="small mb-0">
                                    Hãy tạo tài khoản ngay ! Bạn có thể nhận được các dịch vụ
                                    đặc biệt cho riêng bạn như kiểm tra lịch sử mua hàng và nhận
                                    phiếu giảm giá cho thành viên. Đăng ký miễn phí ngay hôm nay!.
                                </p>
                                <a class="btn btn-dark" href="index.html">register</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
