@{
    var Blog = ViewData["Blog"] as Blog;
}
<!-- blogcss -->
<link rel="stylesheet" href="~/blogcss/css/style.css">
<!-- end blogcss -->



<section class="htc__product__area shop__page ptb--130 bg__white">

    <div id="page">
        <!-- Mobile Menu -->
        <!-- /Mobile Menu -->
        <!-- /End Header 1 Warp -->

        <section class="boxed no-padding bg-img" style="background-image: url(https://res.cloudinary.com/dtwmfo4fl/image/upload/v1688301717/Blog/1_x58c3r.png)">
            <div class="sub-header full">
                <div class="container">
                    <div class="sub-header-inner bottom-left">
                        <h2>Karl Lagerfeld </h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">HOME</a>
                            </li>
                            <li class="active">SINGLE BLOG POST</li>
                        </ol>
                        <!-- meta post -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /subheader -->

        <section>
            <div class="container">
                <div class="row">
                    <article style="padding: 135px" class="post">
                        <div class="col-md-12">
                            <p style="color: #585656; font-family: Merriweather;font-size: 23px;font-weight: 300;line-height: 35px;">
                                Tháng 9/2022, Vogue công bố Karl Lagerfeld: A Line of Beauty là chủ đề của Met Gala 2023. Sự kiện diễn ra vào ngày 1/5/2023 tại Bảo tàng Nghệ thuật Metropolitan ở New York nhằm tôn vinh cuộc đời, sự nghiệp, nét thẩm mỹ của huyền thoại quá cố.

                                Kể từ khi rời xa thế giới năm 2019, hình bóng của Karl vẫn luôn được nhắc nhở. Cứ đến ngày 19/2 hằng năm, trang Instagram của mèo Choupette, thú cưng nổi tiếng của nhà thiết kế lại đăng một bài viết để tưởng nhớ ông. Tổng biên tập Vogue Anna Wintour nói rằng Karl chính là nhân vật quá cố mà bà muốn nghe nhận định về đời sống xã hội hiện nay. Chanel, Fendi và cả thương hiệu Karl Lagerfeld giờ đã có những giám đốc sáng tạo mới nhưng sức ảnh hưởng và di sản mà Karl Lagerfeld để lại vẫn mãi còn.

                                Ngoài tài năng thiết kế, Karl còn được gọi là “Vua của trích dẫn" (King of quotes) của giới thời trang bởi những phát ngôn đặc sắc và đôi khi gây tranh cãi. Trong đó, các tín đồ thời trang vẫn xem câu nói dưới đây như là cách Karl mô tả cuộc sống và sự sáng tạo của mình:

                                “I am down to earth. Just not this earth”. Thế giới thời trang, sáng tạo vốn được cho là nơi của những tiệc tùng xa hoa, thú vui phù phiếm. Điều thú vị là Karl Lagerfeld tung hoành trong thế giới này nhưng ông chọn một đời sống cá nhân khác biệt. Tính cách khép kín của Karl được hình thành khi ông có một tuổi thơ bình lặng tại một ngôi làng ở Đức. Sau này lớn lên, đến Paris để bắt đầu sự nghiệp, Karl cũng có một vùng trời rất riêng.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <strong class="dark-color">SHARE THIS ARTICLE</strong> <br />
                            <ul class="widget-social-list-2 left">
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://vietcetera.com/" target="_blank"><i class="fa ti-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa ti-twitter-alt" aria-hidden="true"></i></a></li>
                                <li>
                                    <a href="https://www.instagram.com/?url=https://vietcetera.com/"><i class="fa ti-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa ti-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div style="position: relative; width: 100%; height: 0; padding-bottom: 75%; overflow: hidden;">
                                    <img src="https://res.cloudinary.com/dtwmfo4fl/image/upload/v1688349543/Blog/230419-gocquote_fhme6q.jpg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" alt="Image">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="position: relative; width: 100%; height: 0; padding-bottom: 75%; overflow: hidden;">
                                            <img src="https://res.cloudinary.com/dtwmfo4fl/image/upload/v1688349675/Blog/a-journal-768x512_wnocyo.jpg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain;" alt="Image">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div style="position: relative; width: 100%; height: 0; padding-bottom: 75%; overflow: hidden;">
                                            <img src="https://res.cloudinary.com/dtwmfo4fl/image/upload/v1688349675/Blog/arte-distribution-1-768x509_guoog6.jpg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain;" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: 50px" class="col-md-12">
                            <p style="color: #585656; font-family: Merriweather;font-size: 23px;font-weight: 300;line-height: 35px;">
                                Tháng 9/2022, Vogue công bố Karl Lagerfeld: A Line of Beauty là chủ đề của Met Gala 2023. Sự kiện diễn ra vào ngày 1/5/2023 tại Bảo tàng Nghệ thuật Metropolitan ở New York nhằm tôn vinh cuộc đời, sự nghiệp, nét thẩm mỹ của huyền thoại quá cố.

                                Kể từ khi rời xa thế giới năm 2019, hình bóng của Karl vẫn luôn được nhắc nhở. Cứ đến ngày 19/2 hằng năm, trang Instagram của mèo Choupette, thú cưng nổi tiếng của nhà thiết kế lại đăng một bài viết để tưởng nhớ ông. Tổng biên tập Vogue Anna Wintour nói rằng Karl chính là nhân vật quá cố mà bà muốn nghe nhận định về đời sống xã hội hiện nay. Chanel, Fendi và cả thương hiệu Karl Lagerfeld giờ đã có những giám đốc sáng tạo mới nhưng sức ảnh hưởng và di sản mà Karl Lagerfeld để lại vẫn mãi còn.

                                Ngoài tài năng thiết kế, Karl còn được gọi là “Vua của trích dẫn" (King of quotes) của giới thời trang bởi những phát ngôn đặc sắc và đôi khi gây tranh cãi. Trong đó, các tín đồ thời trang vẫn xem câu nói dưới đây như là cách Karl mô tả cuộc sống và sự sáng tạo của mình:

                                “I am down to earth. Just not this earth”. Thế giới thời trang, sáng tạo vốn được cho là nơi của những tiệc tùng xa hoa, thú vui phù phiếm. Điều thú vị là Karl Lagerfeld tung hoành trong thế giới này nhưng ông chọn một đời sống cá nhân khác biệt. Tính cách khép kín của Karl được hình thành khi ông có một tuổi thơ bình lặng tại một ngôi làng ở Đức. Sau này lớn lên, đến Paris để bắt đầu sự nghiệp, Karl cũng có một vùng trời rất riêng.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- /article Post -->


        <section class=" no-padding">
            <div class="container">
                <div style="padding: 135px" class="row">
                    <div class="col-md-12">
                        <h2>RELATED POSTS</h2>
                    </div>
                    <div class="related-posts mgt-60">
                        <div class="col-md-4">
                            <div class="item-latest-post">
                                <a href="single_blog.html">
                                    <img src="images/blog/relate-post2.jpg" class="img-responsive" alt="Image">
                                </a>
                                <div class="desc">
                                    <h4><a href="single_blog.html">NULLAM QUIS RISUS EGET URANA</a></h4>
                                    <p class="date-post">April 15, 2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-latest-post">
                                <a href="single_blog.html">
                                    <img src="images/blog/relate-post1.jpg" class="img-responsive" alt="Image">
                                </a>
                                <div class="desc">
                                    <h4><a href="single_blog.html">SOLLICITDUDIN PARTURIENT</a></h4>
                                    <p class="date-post">April 15, 2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-latest-post">
                                <a href="single_blog.html">
                                    <img src="images/blog/relate-post3.jpg" class="img-responsive" alt="Image">
                                </a>
                                <div class="desc">
                                    <h4><a href="single_blog.html">RIDICULUS ADIPISCING TETUR</a></h4>
                                    <p class="date-post">July, 28th, 2016</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-top-right w-680"></div>
        </section>
        <!-- /relate post -->

        <section class="no-padding mgt-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-comments">
                            <h2>04 COMMENTS</h2>
                            <ul class="commentlist">
                                <li>
                                    <div class="user-image"><img src="images/avatar/1.jpg" alt="" class="img-responsive"></div>
                                    <div class="comment-right">
                                        <div class="comment-info">
                                            <strong class="dark-color pull-left name">Angela Allen</strong> <div class="date-comment grey-color pull-right">July, 19th, 2016 on 10.30 PM</div>
                                        </div>
                                        <p>Nunc risus ex, tempus quis purus ac, tempor consequat ex. Vivamus sem magna, maximus at est id, maximus aliquet nunc. Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus.</p>
                                        <a class="c-reply" href="#">Reply</a>
                                    </div>
                                </li>
                                <ul class="children">
                                    <li>
                                        <div class="user-image"><img class="img-responsive" src="images/avatar/2.jpg" alt=""></div>
                                        <div class="comment-right">
                                            <div class="comment-info">
                                                <strong class="dark-color pull-left name">Smatha Hughes</strong> <div class="date-comment grey-color pull-right">23 minutes ago</div>
                                            </div>
                                            <p>Tristique Aenean Ultricies Amet.</p>
                                            <a class="c-reply" href="#">Reply</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="user-image"><img class="img-responsive" src="images/avatar/3.jpg" alt=""></div>
                                        <div class="comment-right">
                                            <div class="comment-info">
                                                <strong class="dark-color pull-left name">James Cemeron</strong> <div class="date-comment grey-color pull-right">53 minutes ago</div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                            <a class="c-reply" href="#">Reply</a>
                                        </div>
                                    </li>
                                </ul>
                                <li>
                                    <div class="user-image"><img class="img-responsive" src="images/avatar/4.jpg" alt=""></div>
                                    <div class="comment-right">
                                        <div class="comment-info">
                                            <strong class="dark-color pull-left name">Betty Perterson</strong> <div class="date-comment grey-color pull-right">19 hours ago</div>
                                        </div>
                                        <p>Dolor Condimentum Lorem Vestibulum Sollicitudin.</p>
                                        <a class="c-reply" href="#">Reply</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-top-right w-680"></div>
        </section>
        <!-- /Comment List -->

        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="comments-area">
                            <h2>LEAVE A COMMENT</h2>
                            <form action="http://templates.thememodern.com/donald-arch-light/POST" class="comment-form">
                                <div class="col-md-4 col-sm-6">
                                    <input class="contact-input" type="text" required="required" placeholder="Name">
                                    <input class="contact-input" type="text" required="required" placeholder="Phone Number">
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <input class="contact-input" type="email" required="required" placeholder="E-Mail">
                                    <input class="contact-input" type="text" required="required" placeholder="Topic">
                                </div>
                                <div class="col-md-4 ">
                                    <textarea class="textarea-contact" rows="4" required="required" placeholder="Message"></textarea>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-4 ">
                                    <button type="submit" class="ot-btn border-dark btn-contact">Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-top-right w-680"></div>
        </section>
        <!-- /comment area -->
        <!-- /Footer home 1 -->


    </div>

</section>

