@model List<Blog>

@{
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}


<script>
    function check(event) {
        var confirmation = confirm("Are you sure you want to delete?");

        if (!confirmation) {
            event.preventDefault();
            return false;
        } else {
            return true;
        }

    }
</script>
@if (Model == null)
{
    <p>No blogs found.</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
                <div class="position-relative">
                    <input type="text" class="form-control ps-5 radius-30" placeholder="Search Blog">
                    <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                </div>
                <div class="ms-auto">
                    <a href="/Blog/CreateBlog" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New Blog</a>
                </div>
            </div>
            <div class="ms-auto text-end">
                <a href="#" class="btn btn-primary radius-30 mt-2 mt-lg-0">
                    <i class="bx bxs-plus-square"></i>Confirm All
                </a>
            </div>

            @if (Model.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Blog ID</th>
                                <th>Name</th>
                                <th>HomeStatus</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var blog in Model)
                            {
                                <form method="post" asp-controller="Blog" asp-action="">
                                    <input type="hidden" name="billId" value="@blog.Blogid" />

                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">

                                            <div class="ms-2">
                                                <h6 class="mb-0 font-14">@blog.Blogid</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@blog.name</td>


                                    <td>
                                        <a href="/Blog/ChangeStatus?id=@blog.Blogid">
                                            <i class="fas fa-edit"></i>
                                                @(blog.HomeStatus == true ? "Enable" : "Disable")

                                        </a>
                                    </td>


                                    <td class="align-middle">
                                        <a href="/Blog/ViewDetail?id=@blog.Blogid" class="btn btn-info">viewDetail</a>
                                        <a href="/Blog/Update?id=@blog.Blogid" class="btn btn-primary">update</a>
                                        <a href="/Blog/Delete?id=@blog.Blogid" onclick="check(event)" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                </form>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No blogs found.</p>
            }
        </div>
    </div>
}
