<section class="htc__product__details pt--120 pb--100 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="htc__contact__container">
                    <div class="htc__contact__address">
                        <h2 class="contact__title">contact info</h2>

                        <div class="contact__address__inner" style="margin-top:90px">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-location-pin"></span>
                                </div>
                                <div class="contact__details">
                                    <p>Location : <br>Số Nhà 28, Phú Hữu, Thạch Thất, Hà Nội</p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>


                        <div class="contact__address__inner" style="display:block;">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-mobile"></span>
                                </div>
                                <div class="contact__details">
                                    <p> Phone : <br><a href="#">+84 0989 999 868</a></p>
                                </div>
                            </div>

                            <div>
                                <!-- End Single Adress -->
                                <!-- Start Single Adress -->
                                <div class="single__contact__address" style="margin-top:30px">
                                    <br>
                                    <div class="contact__icon">
                                        <span class="ti-email"></span>
                                    </div>
                                    <div class="contact__details">
                                        <p> Mail :<br><a href="#">xinchaoquykhach@gmail.com</a></p>
                                    </div>
                                </div>
                                <!-- End Single Adress -->
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-wrap" style="margin-top: 250px;">
                        <div class="contact-title">
                        </div>

                    </div>
                    <div class="form-output">
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12 smt-30 xmt-30">
                <div class="map-contacts">
                    <div id="googleMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.098900144473!2d105.84393331549987!3d21.028511191398935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2aa99d42ad%3A0x113e8e82b856d6c4!2zSMOgIE7hurVuZywgSMOgIMSQw7RuZywgQW4gVMOhbSwgVmlldG5hbQ!5e0!3m2!1sen!2sbd!4v1641877133460!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>