@page "admin/assign-user-role/{id}"
@model Project.Admin.User.AddRoleModel
@{
    ViewData["Title"] = "Thiết lập role";
}
<h4>Thiết lập role cho user: @Model.user.UserName</h4>

<partial name="_StatusMessage" for="StatusMessage" />


<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleNames"></label>

                @Html.ListBoxFor(m=>m.RoleNames, @Model.allRoles, new{
                    id ="id-select-roles",
                    @class ="form-control"
                })
@*                <input asp-for="RoleNames" class="form-control"  />        
*@                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
          
            <button type="submit" class="w-100 btn btn-lg btn-primary">Cập nhật</button>
            <a asp-page="./Index" class="btn btn-primary">Danh sách các thành viên</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
