
.image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Đặt tỷ lệ giữa chiều rộng và chiều cao của ảnh */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh tự động điều chỉnh để phù hợp với kích thước của khung */
}

.ht__bradcaump__wrap{
    margin-bottom: 20px;
}
.container_blogdetail {
    /* Định dạng của vùng chứa */
    /* Ví dụ: */
    width: 100%; /* Chiều rộng vùng chứa sẽ chiếm toàn bộ khung */
    max-width: 800px; /* Chiều rộng tối đa của vùng chứa (có thể điều chỉnh) */
    margin: 0 auto; /* Căn giữa vùng chứa */
}

.blog__thumb .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Tỉ lệ khung hình vuông */
    overflow: hidden;
}

    .blog__thumb .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
.ing-content-detailblog{
    font-size:15px;
}